.form__header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 3px;
}

.form__container {
    background-color: #fff;
    display: flex;
}

.form__field {
    padding: 10px;
    margin: 10px;
    border: 2px solid #eee;
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
}

.form__button:hover {
    border: 2px solid hsl(180, 50%, 25%);
}