.form {
    display: block;
}

.form__field {
    padding: 10px;
    margin: 20px;
    border: 2px solid #eee;
}

.form__button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    margin: 20px 20px 20px 0;
    border: none;
    cursor: pointer;
}

@media (max-width:767px){
    .form__button{
        margin: 0 20px 20px 20px;
    }
}

.form__button:hover {
    border: 2px solid hsl(180, 50%, 25%);
}