.list__header {
    padding: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #fff;
}

.list {
    padding: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #fff;
    list-style-type: none;
}

.list__item {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
}

.list__content {
    padding: 10px;
    justify-content: center;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    color: #fff;
    
}

.list__button--done {
    background-color: green;
}

.list__button--remove {
    background-color: red;
}