.taskList__header{
padding: 20px;
margin: 3px;
background-color: #fff;
}
.taskList{
    padding: 20px;
    margin: 3px;
    background-color: #fff;
    list-style-type: none;
}

.taskList__item{
padding: 10px;

}

.taskList__item--done{
text-decoration: line-through;
}