html {
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}

.body{
   background-color: #eee;
   font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;  
}
